Flow3.json
[
    {
        "id": "680f37c3.bf3c08", 
        "type": "tab", 
        "label": "Flow 3", 
        "disabled": false, 
        "info": ""
    }, 
    {
        "id": "5fb1c233.a7056c", 
        "type": "inject", 
        "z": "680f37c3.bf3c08", 
        "name": "", 
        "topic": "timestamp", 
        "payload": "", 
        "payloadType": "str", 
        "repeat": "5", 
        "crontab": "", 
        "once": false, 
        "onceDelay": 0.1, 
        "x": 70, 
        "y": 120, 
        "wires": [
            [
                "cef93bd0.c5ad48"
            ]
        ]
    }, 
    {
        "id": "cef93bd0.c5ad48", 
        "type": "function", 
        "z": "680f37c3.bf3c08", 
        "name": "Payload", 
        "func": "msg.headers={
    deviceKey:\"fTlu10y0aSeLNAdM\"
};
msg.payload=\"Temperature,,28.8\";
return msg;", 
        "outputs": 1, 
        "noerr": 0, 
        "x": 220, 
        "y": 260, 
        "wires": [
            [
                "46c24c0.fc01fb4"
            ]
        ]
    }, 
    {
        "id": "46c24c0.fc01fb4", 
        "type": "http request", 
        "z": "680f37c3.bf3c08", 
        "name": "", 
        "method": "POST", 
        "ret": "txt", 
        "paytoqs": false, 
        "url": "http://api.mediatek.com/mcs/v2/devices/D2ip17N8/datapoints.csv", 
        "tls": "", 
        "persist": false, 
        "proxy": "", 
        "authType": "", 
        "x": 360, 
        "y": 340, 
        "wires": [
            [
                "fbf187df.1b4508", 
                "544af1d8.be5f2"
            ]
        ]
    }, 
    {
        "id": "fbf187df.1b4508", 
        "type": "http response", 
        "z": "680f37c3.bf3c08", 
        "name": "", 
        "statusCode": "", 
        "headers": { }, 
        "x": 570, 
        "y": 240, 
        "wires": [ ]
    }, 
    {
        "id": "544af1d8.be5f2", 
        "type": "debug", 
        "z": "680f37c3.bf3c08", 
        "name": "", 
        "active": true, 
        "tosidebar": true, 
        "console": false, 
        "tostatus": false, 
        "complete": "payload", 
        "targetType": "msg", 
        "x": 580, 
        "y": 500, 
        "wires": [ ]
    }
]
